body {
    color: rgba(50, 17, 239, 0.436);
    background: hsl(161, 90%, 45%);
    margin: 0px;
}
    color: white;
    background: black;
    header {
        border-bottom: solid 2px rgb(42, 228, 160);
    }
    header {
        border-bottom: solid 2px rgb(23, 187, 228);
        padding: 20px;
        font-size: 32px;
        color: rgb(255, 36, 204);
    }